<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

    <head>
        <meta charset="UTF-8">
        <title>Email Boas Vindas</title>

        <style>

            h1 {
                background-color: red;
                color: white;
                border-radius: 20%;
                margin-bottom: 5%;
            }

        </style>

    </head>

    <body>
        <h1>Bem vindo ao De Bandeja, {{username}}</h1>
        <h3>Agradeçemos pela preferência :)</h3>

    </body>

</html>